<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
<table cellspacing="0" cellpadding="4" width="100%">
  <tr>
    <th><%= f.label :email,"账号"%>：</th>
    <td><%= f.email_field :email %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :current_password,"旧密码" %>：</th>
    <td><%= f.password_field :current_password %></p>
    </td>
  </tr>
  <tr>
    <th><%= f.label :password,"新密码" %>：</th>
    <td><%= f.password_field :password %></p>
    </td>
  </tr>
  <tr>
    <th><%= f.label :password_confirmation,"新密码确认"%>：</th>
    <td><%= f.password_field :password_confirmation %></p>
    </td>
  </tr>

  <tr><th></th><td><%= f.submit "更新" %></td></tr>
</table>
<% end %>
    
