<h2>发送邀请</h2>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email,"邮箱：" %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "发送" %></p>
<% end %>

