<% title "英雄贴" %>

<table cellpadding="5" cellspacing="0">
  <tr>
    <th>找什么</th>
    <th>有什么</th>
    <th>地区</th>
    <th>要求</th>
    <th>发起人</th>
    <th>QQ</th>
    <th>手机</th>
    <th>发布时间</th>
    <th>操作</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= link_to post.lack_list,"/search?lacks=#{post.lack_list}",:class=>"tags" %></td>
      <td><%= link_to post.hold_list,"/search?holds=#{post.hold_list}",:class=>"tags" %></td>
      <td><%= link_to post.area_list,"/search?areas=#{post.area_list}",:class=>"tags" %></td>
      <td><%= post.demand %></td>
      <td><%#= post.user.username %></td>
      <td><%= post.qq %></td>
      <td><%= post.mobile %></td>
      <td><%= post.created_at.strftime("%Y-%m-%d")%></td>
      <td><%= link_to "查看详情", post %>&nbsp;<%= link_to "修改", edit_post_path(post) %><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%= paginate @posts, :left => 1, :right => 3 %>
<p><%= link_to "New Post", new_post_path %></p>
<%= gmaps4rails(@json) %>