<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application","table" %>
    <%= javascript_include_tag "jquery.min","jquery_ujs" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <!--<p class="notice"><%= notice %></p>-->
      <!--<p class="alert"><%= alert %></p>-->
      <%= render :partial => 'home/menu' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>

    </div>
    <%= render :partial => 'home/footer' %>
  </body>
</html>
